server:
  port: 9002

spring:
  application:
    name: interaction-service
  ai:
    openai:
      api-key: ${GROQ_API_KEY:INSERT_API_KEY_HERE}         # set this in env / Docker, not in git
      base-url: https://api.groq.com/openai

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    root: INFO
    com.example.interactionservice: DEBUG
